<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVPkT9HvBQpWsndR5ZeehdVUReKg6S2OM</string>
	<key>GCM_SENDER_ID</key>
	<string>345795676882</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chessCoachApp2</string>
	<key>PROJECT_ID</key>
	<string>chesscoachapp-1361e</string>
	<key>STORAGE_BUCKET</key>
	<string>chesscoachapp-1361e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:345795676882:ios:4fc179a8f4c1e96faf3b0b</string>
</dict>
</plist>